<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>

  </head>
  <body>
    <p>Well, hello there!</p>
    <p>We're going to now talk to the GitHub API. Ready? <a href="<%= oauth_url %>">Click here</a> to begin!</a></p>
  </body>
</html>
